@forward 'scss/theme';

@use 'sass:math';
@use 'scss/mixins/typography';

$spacing-min: 16px;
$spacing-max: 32px;
$offset-max: 200px;

$breakpoint-content: 800px;
$content-column-size: math.div($breakpoint-content - 11 * $spacing-max, 12);

$breakpoint-medium: 600px;
$breakpoint-expanded: 840px;

$breakpoint-content-min: $breakpoint-content + $spacing-max * 2;
$breakpoint-content-max: $breakpoint-content-min + $offset-max * 2;

html,
body {
    height: 100%;
    margin: 0;
}

body {
    --offset: 0;
    --columns: 4;
    --spacing: #{$spacing-min};
    --column-size: 1fr;

    display: grid;
    grid-template-columns: [container-start] var(--offset) [content-start] repeat(var(--columns), var(--column-size)) [content-end] var(--offset) [container-end];
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    column-gap: var(--spacing);

    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);

    @include typography.body-medium;

    @media(min-width: $breakpoint-medium) {
        --columns: 8;
        --spacing: #{$spacing-max};
    }

    @media(min-width: $breakpoint-expanded) {
        --columns: 12;
    }

    @media(min-width: $breakpoint-content-min) {
        --offset: 1fr;
        --column-size: #{$content-column-size};
    }

    @media(min-width: $breakpoint-content-max) {
        --offset: #{$offset-max};
        --column-size: 1fr;
    }
}

.section {
    grid-column: content;

    padding-block: 32px;
    z-index: 0;

    &--wide {
        grid-column: container;
        display: grid;
        grid-template-columns: subgrid;

        &__content {
            grid-column: content;
        }
    }

    &--main {
        padding: unset;
        background-color: var(--md-sys-color-background);
    }

    &--green {
        background-color: green;
    }

    &--blue {
        background-color: blue;
    }

    &--yellow {
        background-color: lightyellow;
    }
}

.parallax {
    grid-template-columns: unset;
    grid-template-areas: 'scroll';
    place-items: center;
    padding: unset;
    z-index: 0;

    &>* {
        grid-area: scroll;
        animation: parallax linear;
        animation-timeline: scroll();
    }

    &__background {
        --parallax-speed: 5;

        object-fit: cover;
        width: 100%;
        min-height: 75dvh;
    }

    &__logo {
        --parallax-speed: 2;

        width: 50vw;
    }
}

@keyframes parallax {
    to {
        transform: translateY(calc(var(--parallax-speed) * 100px));
    }
}

.hero-section {
    --column: 1/-1;

    height: 100dvh;
    padding-top: 100px;
    box-sizing: border-box;

    background: url(https://s3-alpha-sig.figma.com/img/3989/7224/4c6070a2ebc9aad8326664f7dcfe1798?Expires=1701648000&Signature=VdpZq6o6UDhKaf2RXFTwE3CoRCf7nxOFM6xqDMsae9WAE2sDRLROtXBr3J9K-difvRTSCZDxEVMfQt8h9fUufXn0oQKF0XoGXnMU9NwEJ4VGnErcqaBB73jeidwhH10nHc~B6jKxZ25N20MPxmQw2VxYIO0uAsiap1v3tgDSV8YxiOvnlMUFu3rISBc67rNNcD1GrUELgpW4bnBIUAraCCfnUvvcDnykUzL4NRBeAyRYZg6L8nRv-LYfRAylpfF-yglUHzqD58noQBc5uIg4bQ9mb52K0Gi7TMFkoIRq1MDOUH6bj9GQJg64vx4w4t5hTwpTe3YNbUrZBbgm11vCKA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-size: cover;
    background-position: right;

    &__wrapper {
        grid-column: 2/8;
        display: grid;
        grid-template-columns: subgrid;
    }

    &__info {
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
        gap: 128px;
        justify-content: center;

        &__heading {
            color: var(--md-sys-color-on-primary);

            &__title {
                margin: 0;
                @include typography.display-large;
            }

            &__supporting-text {
                margin: 0;
                @include typography.headline-large;
            }
        }
    }
}

.button {
    display: flex;
    padding: 24px 64px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    background-color: var(--md-sys-color-primary);
    @include typography.display-medium;
    color: var(--md-sys-color-on-primary);
}